/*底部*/
.container{
  display:block;
  width:1080px;
  margin:0 auto;
  height:auto;
}
.footer{ display:block; background:#053596;}
.footer .container{ display:block; background:#053596; padding:40px 0px 10px 0px;}
.footer .container .bottm_bac{
  display: flex;
  justify-content: center;
}
.footer ul{ display:block; margin-bottom:50px; width:800px; float:left;}
.footer ul li{ display:block; width:156px; float:left; color:#FFF;}
.footer ul li h2{ display:block; padding-bottom:15px; font-weight:normal;}
.footer ul li a{ display:block; color:#e3e6ed; line-height:31px; font-size:14px; position:relative;}
.footer ul li a span{ padding-right:5px;}
.footer ul li a b{ display:none;}
.footer ul li a:hover b{ display:block; position:absolute; top:-90px;}
.wx{ display:block; float:right; width:250px;}
.wx p{ display:block; float:left; width:94px; padding-right:12px; text-align:center; color:#e3e6ed; font-size:14px; line-height:22px;}
.bottom{ 
  display:block; 
  background:#053596;  
  line-height:40px; 
  color:#FFF; 
  font-size:14px; 
}
.bottom .container{ 
  width:1891px;
  display:block;
  background:#053596;
  padding:10px 69px; 
}
.bottom ul{ 
  display:block; 
  width:650px; 
  margin:0 auto;
}
.bottom p{ 
  display:block; 
  width:350px;
  float:left; 
  background:no-repeat left center; padding-left:22px;
}
.bottom span{ 
  display:block; 
  width:250px; 
  float:left; 
  background:no-repeat left center; padding-left:22px;
} 
.clear{
  clear:both;
}


  