/*头部*/
.header_nav{ 
  display:block; height:77px;
}
#onediv{ 
  display:block; width:100%; z-index:999;
}

.container{
  width:1080px;margin:0 auto;height:auto;display:block;
}

.container .notice{
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  
  list-style: none;

}
.container .notice li{
  border-left: 1px solid #dedfe1;
  display: list-item;
  text-align: -webkit-match-parent;
  width: 280px;
  padding:20px 15px;
}
/* .container .notice li:first-child{
  background: url(../images/1.jpg) no-repeat 95% 20%;
} */
.container .notice li:last-child{
  border-right:1px solid #dedfe1;
}
.container .notice li p{
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  white-space: nowrap;
  line-height:22px;
}
.container .notice li .p2{
  font-size:15px;
}
.container .notice li .p3{
  cursor: pointer;
  color: #a7a7a8;
  font-size: 12px;
  transition: all .5s;
}
.container .notice li .p3:hover {
  color: #333;	
}
.container .notice li .p3:hover .p2{
  color:#053596;
  }



/*logo*/
.logo{ 
  display:block;
  float:left; 
  width:276px; 
  margin-right:40px; 
  margin-top: 10px; 
  height:77px; 
  background: no-repeat left center;
}
.logo p{ 
  display:block; 
  padding-left:206px; 
  padding-top:20px; 
  color:#053596; 
  font-size:14px;
}
.logo p b{ 
  display:block;  
  font-size:15px;
}

/*ul*/
.nav{ 
  display:block; 
  width:670px; 
  float:left; 
  height:77px; 
  line-height:77px; 
  position:relative; 
  z-index:1;  
}
.nav .top_nav{ 
  float:left;  
  position:relative; 
  display:inline;  
}
.nav .top_nav h3{ 
  float:left; 
  font-weight:normal; 
}
.nav .top_nav h3 a{ 
  display:inline-block; 
  margin:0 27px; 
  font-size:16px; 
  color:#555;  
}
.nav .top_nav h3:hover a{ 
  color:#22bae9
}
.nav .sub{ 
  display:none; 
  width:100px; 
  left:50%; 
  margin-left:-50px;
  top:77px;
  text-align:center;  
  position:absolute;  
  line-height:36px; 
  font-size:14px;  
}
.nav .sub ul{
  float:none !important;
}
.nav .sub li{ 
  zoom:1; 
  float:none !important; 
  background:#22bae9;  
}
.nav .sub a{ 
  display:block;
   color:#FFF; 
   text-align:center !important;
   }
.nav .sub a:hover{ 
  color:#FFF; 
  background:#22bae9 
}
.clearfix:after{
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}